body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(177, 81, 255);
    font-family: 'Times New Roman', Times, serif;



}

.form-container{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    border-radius: 5px;







}


.form-container input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;


}

.form-container button {
    padding: 10px;
    width: 100%;
    background-color: yellowgreen;
    color: aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


/*estilização das mensagens de resultado */

.message{
    margin-top: 100px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}


.message.success{
    background-color: aquamarine;
    color: blue;
}


.message.error{
    background-color: blueviolet;
    color: tomato;
}